@import '../../styles/theme.scss';
.dropdownlist {
  border-bottom: 1px solid $grayish;
  border-top: 1px solid $grayish;
  max-width: 600px;
  width: 100%;

  p {
    margin: 30px 10px;
  }
  &-question {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 18px;
    padding: 16px;
    &:hover {
      color: $light-red;
    }
    & svg {
      margin-left: auto;
    }
  }
}
